name: Deploy Bot

on:
  push:
    branches:
      - main  # Запуск при пуше в main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout репозитория
        uses: actions/checkout@v3

      - name: Установка SSH-ключа
        uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: ${{ secrets.DEPLOY_KEY }}

      - name: Деплой на сервер
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.DEPLOY_USER }}@${{ secrets.DEPLOY_HOST }} << 'EOF'
            cd /root/my_projects/korean_tg_bot  # Путь к проекту
            
            git pull origin main      # Обновить код
            
            docker compose down       # Остановить текущие контейнеры
            
            docker compose up -d db   # Запустить только базу данных
            sleep 10                  # Подождать, чтобы БД запустилась
            
            docker compose up --build -d  # Пересобрать и запустить бот
            
            docker compose exec bot alembic upgrade head  # Запустить миграции Alembic
          EOF
